.bindcode-view{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f7f7f7;
  overflow: hidden;
  Input{
    margin: 48px auto 0px;
    width: 710px;
    height: 71px;
    border: 0px;
    outline: none;
    border-bottom: 2px solid rgba(204,204,204,1);
    font-size:32px;
    font-family:'PingFang-SC-Medium,PingFang-SC';
    font-weight:500;
    color: #666;
  }
  .surebtn{
    width:710px;
    height:90px;
    background:rgba(251,44,104,1);
    border-radius:8px;
    margin: 112px auto 0px;
    font-size:32px;
    font-family:'PingFang-SC-Medium,PingFang-SC';
    font-weight:500;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 90px;
  }
}